
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h1> Student Details </h1>

ID :   @ViewBag.student.Id  <br />
Name : @ViewBag.student.Name <br />
Batch :@ViewBag.student.Batch<br />
Marks :@ViewBag.student.Marks <br />

